.about {
  display: flex;
  gap: 50px;
}

.aboutGrid {
  display: grid;
  grid-gap: 25px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(9, 1fr);
  width: 100%;
  height: 41.45rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 300px;

  border: 2px solid var(--color-primary-border);
  border-radius: 50px;
}

.gridItem1 {
  height: fit-content;
  grid-area: 3 / 9 / 5 / 27;
}
.gridItem2 {
  grid-area: 1 / 9 / 4 / 27;
  height: 66%;
}
.gridItem3 {
  height: 100%;
  grid-area: 1 / 1 / 11 / 9;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.firstBlock {
  width: 84%;
}

.subBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

@media screen and (max-width: 430px) {
  .aboutGrid {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .about {
    gap: 25px;
    flex-direction: column;
  }
  .block {
    gap: 25px;
  }
  .subBlock {
    gap: 25px;
  }
}
