.contacts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contacts li {
  font-size: 30px;
}

@media screen and (max-width: 1055px) {
  .contacts {
    gap: 25px;
    transition: all ease 0.5s;
  }

  .contacts li {
    font-size: 20px;
  }
}
