/* .contacts ul {
  padding: 0;
  list-style-type: none;
} */

.contacts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contacts li {
  font-size: 30px;
}

/* .contacts li::before {
  content: '—';
  padding-right: 25px;
} */
