.mainPageCard {
  background-color: var(--color-primary-border);
  padding: 150px 100px;
  border-radius: 50px;
  background-image: url('@/assets/images/DSC_0134.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.caption {
  font-size: 60px;
  margin: 0;
  color: #fff;
  margin: auto;
}

@media screen and (max-width: 790px) {
  .mainPageCard {
    padding: 37.5px 25px;
    height: 100%;
    border-radius: 25px;
    background-position: bottom;
  }
  .caption {
    font-size: 25px;
  }
}
