.mainPageCard {
  background-color: #000;
  padding: 150px 100px;
  border-radius: 50px;
  background-image: url('@/assets/images/DSC_0134.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.caption {
  font-size: 60px;
  margin: 0;
  color: #fff;
  margin: auto;
}
