.header {
  padding: 50px;
  border-bottom: 2px solid var(--color-primary-border);
  display: flex;
  height: var(--header-height);
  justify-content: center;
}

.headerColumn {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
}

.headerContent {
  display: flex;
  gap: 100px;
  width: 1820px;
}

.header p,
.headerColumn p {
  margin: 0;
  font-size: 30px;
  transition: font-size ease 0.5s;
}

.headerColumn .headerContent {
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-right: 2px solid var(--color-primary-border);
  padding: 50px 25px;
}

.header ul,
.headerColumn ul {
  display: flex;
  list-style-type: none;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.headerColumn ul {
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 1335px) {
  .header p {
    font-size: 20px;
    transition: font-size ease 0.5s;
  }
  .headerColumn p {
    font-size: 20px;
    transition: font-size ease 0.5s;
  }
}

@media screen and (max-width: 430px) {
  .headerColumn p {
    font-size: 15px;
  }
}
