.description {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.blockHeader {
  font-size: 35px;
  margin: 0;
}

.subBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.cardBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}

.cardBlockHeader {
  font-size: 25px;
  font-weight: 600;
}

.cardBlockDescription {
  font-size: 25px;
  font-weight: 400;
}

.cardBlock * {
  margin: 0;
}

@media screen and (max-width: 1097px) {
  .blockHeader {
    font-size: 25px;
  }

  .cardBlockHeader,
  .cardBlockDescription {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .cardBlockHeader,
  .cardBlockDescription {
    font-size: 15px;
  }
}
