.footer {
  padding: 50px;
  display: flex;
  gap: 15px;
  border-top: 2px solid var(--color-primary-border);
  justify-content: center;
  height: var(--footer-height);
  margin-top: auto;
}

.text,
.link {
  font-size: 30px;
  transition: font-size ease 0.5s;
}

@media screen and (max-width: 1335px) {
  .text,
  .link {
    font-size: 20px;
    transition: font-size ease 0.5s;
  }
}

.text {
  margin: 0;
}

.link {
  color: var(--color-primary-link);
  text-decoration: none;
}
